@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ca3f1f;
    width: 100%;
    background-image: url('imagem/fundo-de-madeira.webp');
    background-size: 100% 100%;
}

h2{
    text-align: center;
    align-items: center;
    margin: 50px 0;
    font-size: 50px;
    font-family: 'Merienda', cursive;
    color: #000000;
}


.img_menu{
    width: 70vh;
    margin: 16vh;
    margin-top: -5px;
    text-align: center;
    align-items: center;
}

.img_menu img{
    width: 25vw;
    min-width: 15vw;
    height: 30vh;
    min-height: 10vh;
    margin: 5px 8px;
    box-shadow:3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.img_menu ul{
    display: flex;
    list-style-type: none;
}

.img_menu p{
    font-size: 22px; 
}

.lorem{
    display: none;
    position: absolute;
    margin-top: -100px;
    margin-left: 130px;
    color: #c4c4c4;
    
}

.img:hover{
    transform: rotateY(150deg);
    transition-duration: 2s;
}

.img:hover ~ .lorem{
    display: block;
    background-color: rgba(0, 0, 0, 0.466);
}