*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebc79c;
    width: 1000px;
}

h2{
    text-align: center;
    align-items: center;
    margin: 50px 0;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img_menu{
    background-color: #9c9a9a;
    width: 70%;
    margin: 16%;
}
.img_menu img{
    width: 50%;
    min-width: 90%;
    height: 80%;
    min-height: 80%;
    margin: 0 2px;
}
.img_menu ul{
    display: flex;
    list-style-type: none;
    
}
.baixo ul li{
    align-items: center;
    text-align: center;
    text-decoration: none;
}
