@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
  --cor1: #ffefb0;
  --cor2: #ffcb7c;
  --cor3: #FFB74D;
  --cor4: #AE582D;
}

body {
  background-color: var(--cor1);
}

header {
  background-color: var(--cor3);
  padding-top: 17px;
  margin-bottom: 35px;
  width: 100%;
  height: 90px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.164);
}

header h1{
    text-align: center;
    margin: 7px 0;
    font-size: 35px;
    margin-bottom: 2%;

}

header > img {
    width: 9.5%;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 20px;
}

.foto {
    display: block;
    margin: auto;
}

nav {
  padding-bottom: 10px;
  margin-bottom: 12px;
 
}

nav > a {
  padding: 10px;
  text-decoration: none;
  color: var(--cor4);
  transition-duration: 0.5s;
  text-transform: uppercase;
}

nav > A:hover {
  background-color: var(--cor2);
}

.hr-funcio{
   margin-left: 75%;
   margin-top: -8vw;
   font-size: 15px;
}


/* inicio slide*/
.slider{
  overflow: hidden;
  text-align:center;
  align-items: center;

}

.slide{
  margin: 15px;
  cursor:pointer; 
  
}

.slider-item img{
  width: 95vw;
  height: 90vh;
  border-radius: 5px;
}

.slider > .slider-content{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
  transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
  transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
  transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
  transform: translateX(-300%);
}


/* fim slide */

.eventos{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 2vw;
  
}
.eventos img{
  margin-top: 1%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
  width: 80vw;
  height: 550px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.botao{
  border: none;
  border-radius: 3px;
  margin-top: 1.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
  background-color: var(--cor1);
  
}

.botao:hover {
  font-weight: bold;
  
}

img#slider{
  width: 95vw;
  height: 75vh;
  display: block;
  margin: auto;
  border-radius: 7px;

    
}



.container{
  display:none;
}


@media (max-width: 576px) { 
  nav a{
    display:none;
  }
.hr-funcio{
    display:none;
} 

img#slider{
  display: block;
  height: 60vh;
}
header h1{
  margin:16px 0;
}
.eventos img{
  height: 60vh;
  width:93vw;
}

/* inicio do hamburguer responsivo*/
.container{
  display: block;
  position: absolute;
  display: flex;
  margin-top: -148vh;
  margin-left:87vw;
}

.itens{
  display: none;
  text-decoration: none;
 
}

#checkbox-menu{
  position: absolute;
  opacity: 0;
}

label{
  position:relative;
  cursor:pointer;
  height: 22px;
  width: 30px;
  margin-top: 10px;
}

label span{
  position: relative;
  display: block;
  height: 5px;
  width: 35px;
  margin-top:-4px;
  border-radius: 30px;
  background: #f16234;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1){
  top: 0;
}

label span:nth-child(2){
  top: 8px;
}

label span:nth-child(3){
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
  transform: rotate(-45.9deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
  transform: rotate(48.9deg);
  top:8px;
}

#checkbox-menu:checked ~ .itens{
  display: block;
  margin-left: -40vh;
  font-size:30px;
  background-color: var(--cor1);
  height:200vh;
  width:100vw;
  margin: -10px -94vw;
  text-align: center;

}

#checkbox-menu:checked ~ .itens a{
  text-decoration: none;
  color:#AE582D;
  
}

/*fim do primeiro hambuguer responsivo */

}
@media (max-width: 768px) { 

  .hr-funcio{
    margin-top: -100px;
    font-size: 14px;
    
  }

  

 }


@media (max-width: 992px) { 


 }


@media (max-width: 1200px) { 

 }